body {
     background-color: #3c3e4c;
     font-family: Geneva, Tahoma, Verdana, sans-serif;
     background-image: url("https://cdn.discordapp.com/attachments/605108300907806723/739869561024937984/Untitlesdfd.png");
     font-size: 55px;
     text-align: center;
 }

 body1 {
     
 }

 p1 {
     font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
 }