body {
     background-color: #3c3e4c;
     margin: 0;
     font-weight: 400;
     font-family: 'Work Sans', sans-serif;
     
 }
 .container {
    width: 95%;
    margin: 0 auto;
 }


 body1 {
     
 }

 p1 {
     font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
 }

 header {

    background: #8281c2;

 }

 header::after {
    content: '' ;
    display: table;
    clear: both;
 }

 .logo {
    float: left;
    padding: 10px;
 }

 nav {

    float: right;
    height: px;
 }

 nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
 }

 nav li {
    display: inline-block;
    margin-left: 70px;
    margin-top: 35px;
    position: relative;
 }

 nav a {
    color: #FFADC1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
 }

 nav a:hover {
    color: #000;
 }


.slide_bar {
    padding: 165px;
    background-color: #2D3149;
}
  @keyframes slider {

    0% {
        left:0;
    }

20%{
    left: 0;
}

25% {
   left:-100%; 
}

45% {
    left: -100%;
}

50% {
    left: -200%;
}

70% {
    left: -200%;
}

75% {
    left: -300%;
}

95% {
    left: -300%;
}

100% {
    left: -400%;
}


  }

 
 #slider {
    overflow: hidden;
}

#slider figure img {
    width: 20%;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite; 

}