body {
     background-color: #3c3e4c;
     margin: 0;
     font-weight: 400;
     font-family: 'Work Sans', sans-serif;
     
 }
 .container {
    width: 95%;
    margin: 0 auto;
 }


 body1 {
     
 }

 p1 {
     font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
 }

 header {

    background: #8281c2;

 }

 header::after {
    content: '' ;
    display: table;
    clear: both;
 }

 .logo {
    float: left;
    padding: 10px;
 }

 nav {

    float: right;
    height: px;
 }

 nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
 }

 nav li {
    display: inline-block;
    margin-left: 70px;
    margin-top: 35px;
    position: relative;
 }

 nav a {
    color: #FFADC1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
 }

 nav a:hover {
    color: #000;
 }

 .nickfake_1 {
    margin-left: 45px;
    margin-top: 45px;
    margin-right: 45px;
 }


 .nickfake_3 {
    margin-left: 45px;
    margin-top: 45px;
    margin-right: 45px; 
 }